.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #0000001c;
}

mat-card-header {
  justify-content: center;
  text-align: center;
}

.auth-card {
  width: 100%;
  max-width: 450px; 
  padding: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.btn-block {
  margin-top: 10px;
  padding: 8px 0;
  font-size: 1.1rem;
}

.auth-footer {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}